<footer>
  <p>
    &copy; <%= current_year %>, ColorizeMySky,
    <a href="<%= github_url('ColorizeMySky', 'test-guru') %>">Test Guru</a>.
    Система тестирования с поддержкой категорий, уровней сложности и таймера.
    <a href="https://thinknetica.com">Учебный проект в онлайн-школе Thinknetica</a>
  </p>
</footer>
