<footer>
  <p>
    &copy; <%= current_year %>, ColorizeMySky,
    <%= github_url('ColorizeMySky', 'test-guru') %>
    Система тестирования с поддержкой категорий, уровней сложности и таймера.
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com' %>
  </p>
</footer>
