<div class="container mt-5">
  <h1>О проекте TestGuru</h1>

  <div class="mt-4">
    <p>
      TestGuru - это приложение для создания и прохождения тестов, разработанное в рамках обучения
      в онлайн-школе <a href="http://www.thinknetica.com" target="_blank" rel="noopener noreferrer">Thinknetica</a>.
    </p>

    <p>
      Основные возможности системы:
    </p>

    <ul>
      <li>Создание тестов</li>
      <li>Прохождение тестов</li>
      <li>Публикация результатов</li>
      <li>Комментарии и отзывы</li>
    </ul>
    <p class="mt-4">
      Текущая версия приложения: <strong><%= TestGuru::VERSION %></strong>
    </p>
  </div>
</div>
