<tr lass="text-left">
  <td class="text-left"><%= test.name %></td>
  <td class="text-left"><%= test.level %></td>
  <td class="text-left"><%= t('tests.test.questions_count', count: test.questions.count) %></td>
  <td class="text-left"><%= button_to t('tests.test.start'), start_test_path(test), method: :post, class: 'btn btn-primary' %></td>
</tr>
